<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZhVa8GgKWVCK1Hhh9iG-S2aCSd2KfCLg</string>
	<key>GCM_SENDER_ID</key>
	<string>391493620763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harmonypracticereal</string>
	<key>PROJECT_ID</key>
	<string>harmonypractice</string>
	<key>STORAGE_BUCKET</key>
	<string>harmonypractice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391493620763:ios:3d2a735becb9513a1694be</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7191096510845066~9204287548</string>
</dict>
</plist>